body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1022px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u43 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u44_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:80px;
}
#u44 {
  border-width:0px;
  position:absolute;
  left:302px;
  top:55px;
  width:150px;
  height:80px;
  font-family:'微軟正黑體';
  font-weight:400;
  font-style:normal;
  font-size:20px;
}
#u44_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:28px;
  width:146px;
  word-wrap:break-word;
}
#u44_ref {
  border-width:0px;
  position:absolute;
  left:444px;
  top:125px;
  width:1px;
  height:1px;
}
#u45 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u46_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  height:120px;
}
#u46 {
  border-width:0px;
  position:absolute;
  left:22px;
  top:30px;
  width:121px;
  height:120px;
}
#u46_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u47_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:133px;
  height:72px;
}
#u47 {
  border-width:0px;
  position:absolute;
  left:139px;
  top:54px;
  width:133px;
  height:72px;
}
#u47_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u48_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:80px;
}
#u48 {
  border-width:0px;
  position:absolute;
  left:442px;
  top:55px;
  width:150px;
  height:80px;
  font-family:'微軟正黑體';
  font-weight:400;
  font-style:normal;
  font-size:20px;
}
#u48_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:28px;
  width:146px;
  word-wrap:break-word;
}
#u48_ref {
  border-width:0px;
  position:absolute;
  left:584px;
  top:125px;
  width:1px;
  height:1px;
}
#u49_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:80px;
}
#u49 {
  border-width:0px;
  position:absolute;
  left:592px;
  top:55px;
  width:150px;
  height:80px;
  font-family:'微軟正黑體';
  font-weight:400;
  font-style:normal;
  font-size:20px;
}
#u49_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:28px;
  width:146px;
  word-wrap:break-word;
}
#u49_ref {
  border-width:0px;
  position:absolute;
  left:734px;
  top:125px;
  width:1px;
  height:1px;
}
#u50_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:130px;
  height:80px;
}
#u50 {
  border-width:0px;
  position:absolute;
  left:892px;
  top:55px;
  width:130px;
  height:80px;
  font-family:'微軟正黑體';
  font-weight:400;
  font-style:normal;
  font-size:20px;
}
#u50_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:28px;
  width:126px;
  word-wrap:break-word;
}
#u50_ref {
  border-width:0px;
  position:absolute;
  left:1014px;
  top:125px;
  width:1px;
  height:1px;
}
#u51_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:149px;
  height:80px;
}
#u51 {
  border-width:0px;
  position:absolute;
  left:752px;
  top:55px;
  width:149px;
  height:80px;
  font-family:'微軟正黑體';
  font-weight:400;
  font-style:normal;
  font-size:20px;
}
#u51_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:28px;
  width:145px;
  word-wrap:break-word;
}
#u51_ref {
  border-width:0px;
  position:absolute;
  left:893px;
  top:125px;
  width:1px;
  height:1px;
}
#u52_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:666px;
  height:707px;
}
#u52 {
  border-width:0px;
  position:absolute;
  left:334px;
  top:160px;
  width:666px;
  height:707px;
}
#u52_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u53_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:162px;
  height:65px;
}
#u53 {
  border-width:0px;
  position:absolute;
  left:94px;
  top:215px;
  width:162px;
  height:65px;
}
#u53_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u54_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:162px;
  height:65px;
}
#u54 {
  border-width:0px;
  position:absolute;
  left:94px;
  top:295px;
  width:162px;
  height:65px;
}
#u54_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u55_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1020px;
  height:170px;
}
#u55 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:920px;
  width:1020px;
  height:170px;
}
#u55_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
