body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1022px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u56_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1022px;
  height:2728px;
}
#u56 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:170px;
  width:1022px;
  height:2728px;
}
#u56_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u57 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u58_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:80px;
}
#u58 {
  border-width:0px;
  position:absolute;
  left:302px;
  top:55px;
  width:150px;
  height:80px;
  font-family:'微軟正黑體';
  font-weight:400;
  font-style:normal;
  font-size:20px;
}
#u58_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:28px;
  width:146px;
  word-wrap:break-word;
}
#u58_ref {
  border-width:0px;
  position:absolute;
  left:444px;
  top:125px;
  width:1px;
  height:1px;
}
#u59 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u60_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  height:120px;
}
#u60 {
  border-width:0px;
  position:absolute;
  left:22px;
  top:30px;
  width:121px;
  height:120px;
}
#u60_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u61_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:133px;
  height:72px;
}
#u61 {
  border-width:0px;
  position:absolute;
  left:139px;
  top:54px;
  width:133px;
  height:72px;
}
#u61_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u62_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:80px;
}
#u62 {
  border-width:0px;
  position:absolute;
  left:442px;
  top:55px;
  width:150px;
  height:80px;
  font-family:'微軟正黑體';
  font-weight:400;
  font-style:normal;
  font-size:20px;
}
#u62_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:28px;
  width:146px;
  word-wrap:break-word;
}
#u62_ref {
  border-width:0px;
  position:absolute;
  left:584px;
  top:125px;
  width:1px;
  height:1px;
}
#u63_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:80px;
}
#u63 {
  border-width:0px;
  position:absolute;
  left:592px;
  top:55px;
  width:150px;
  height:80px;
  font-family:'微軟正黑體';
  font-weight:400;
  font-style:normal;
  font-size:20px;
}
#u63_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:28px;
  width:146px;
  word-wrap:break-word;
}
#u63_ref {
  border-width:0px;
  position:absolute;
  left:734px;
  top:125px;
  width:1px;
  height:1px;
}
#u64_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:130px;
  height:80px;
}
#u64 {
  border-width:0px;
  position:absolute;
  left:892px;
  top:55px;
  width:130px;
  height:80px;
  font-family:'微軟正黑體';
  font-weight:400;
  font-style:normal;
  font-size:20px;
}
#u64_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:28px;
  width:126px;
  word-wrap:break-word;
}
#u64_ref {
  border-width:0px;
  position:absolute;
  left:1014px;
  top:125px;
  width:1px;
  height:1px;
}
#u65_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:149px;
  height:80px;
}
#u65 {
  border-width:0px;
  position:absolute;
  left:752px;
  top:55px;
  width:149px;
  height:80px;
  font-family:'微軟正黑體';
  font-weight:400;
  font-style:normal;
  font-size:20px;
}
#u65_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:28px;
  width:145px;
  word-wrap:break-word;
}
#u65_ref {
  border-width:0px;
  position:absolute;
  left:893px;
  top:125px;
  width:1px;
  height:1px;
}
#u66 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u67_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:80px;
}
#u67 {
  border-width:0px;
  position:absolute;
  left:302px;
  top:55px;
  width:150px;
  height:80px;
  font-family:'微軟正黑體';
  font-weight:400;
  font-style:normal;
  font-size:20px;
}
#u67_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:28px;
  width:146px;
  word-wrap:break-word;
}
#u67_ref {
  border-width:0px;
  position:absolute;
  left:444px;
  top:125px;
  width:1px;
  height:1px;
}
#u68 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u69_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  height:120px;
}
#u69 {
  border-width:0px;
  position:absolute;
  left:22px;
  top:30px;
  width:121px;
  height:120px;
}
#u69_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u70_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:133px;
  height:72px;
}
#u70 {
  border-width:0px;
  position:absolute;
  left:139px;
  top:54px;
  width:133px;
  height:72px;
}
#u70_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u71_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:80px;
}
#u71 {
  border-width:0px;
  position:absolute;
  left:442px;
  top:55px;
  width:150px;
  height:80px;
  font-family:'微軟正黑體';
  font-weight:400;
  font-style:normal;
  font-size:20px;
}
#u71_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:28px;
  width:146px;
  word-wrap:break-word;
}
#u71_ref {
  border-width:0px;
  position:absolute;
  left:584px;
  top:125px;
  width:1px;
  height:1px;
}
#u72_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:80px;
}
#u72 {
  border-width:0px;
  position:absolute;
  left:592px;
  top:55px;
  width:150px;
  height:80px;
  font-family:'微軟正黑體';
  font-weight:400;
  font-style:normal;
  font-size:20px;
}
#u72_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:28px;
  width:146px;
  word-wrap:break-word;
}
#u72_ref {
  border-width:0px;
  position:absolute;
  left:734px;
  top:125px;
  width:1px;
  height:1px;
}
#u73_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:130px;
  height:80px;
}
#u73 {
  border-width:0px;
  position:absolute;
  left:892px;
  top:55px;
  width:130px;
  height:80px;
  font-family:'微軟正黑體';
  font-weight:400;
  font-style:normal;
  font-size:20px;
}
#u73_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:28px;
  width:126px;
  word-wrap:break-word;
}
#u73_ref {
  border-width:0px;
  position:absolute;
  left:1014px;
  top:125px;
  width:1px;
  height:1px;
}
#u74_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:149px;
  height:80px;
}
#u74 {
  border-width:0px;
  position:absolute;
  left:752px;
  top:55px;
  width:149px;
  height:80px;
  font-family:'微軟正黑體';
  font-weight:400;
  font-style:normal;
  font-size:20px;
}
#u74_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:28px;
  width:145px;
  word-wrap:break-word;
}
#u74_ref {
  border-width:0px;
  position:absolute;
  left:893px;
  top:125px;
  width:1px;
  height:1px;
}
#u75_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1020px;
  height:170px;
}
#u75 {
  border-width:0px;
  position:absolute;
  left:1px;
  top:2898px;
  width:1020px;
  height:170px;
}
#u75_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
