body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1022px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u33 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u34_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:80px;
}
#u34 {
  border-width:0px;
  position:absolute;
  left:302px;
  top:55px;
  width:150px;
  height:80px;
  font-family:'微軟正黑體';
  font-weight:400;
  font-style:normal;
  font-size:20px;
}
#u34_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:28px;
  width:146px;
  word-wrap:break-word;
}
#u34_ref {
  border-width:0px;
  position:absolute;
  left:444px;
  top:125px;
  width:1px;
  height:1px;
}
#u35 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u36_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  height:120px;
}
#u36 {
  border-width:0px;
  position:absolute;
  left:22px;
  top:30px;
  width:121px;
  height:120px;
}
#u36_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u37_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:133px;
  height:72px;
}
#u37 {
  border-width:0px;
  position:absolute;
  left:139px;
  top:54px;
  width:133px;
  height:72px;
}
#u37_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u38_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:80px;
}
#u38 {
  border-width:0px;
  position:absolute;
  left:442px;
  top:55px;
  width:150px;
  height:80px;
  font-family:'微軟正黑體';
  font-weight:400;
  font-style:normal;
  font-size:20px;
}
#u38_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:28px;
  width:146px;
  word-wrap:break-word;
}
#u38_ref {
  border-width:0px;
  position:absolute;
  left:584px;
  top:125px;
  width:1px;
  height:1px;
}
#u39_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:80px;
}
#u39 {
  border-width:0px;
  position:absolute;
  left:592px;
  top:55px;
  width:150px;
  height:80px;
  font-family:'微軟正黑體';
  font-weight:400;
  font-style:normal;
  font-size:20px;
}
#u39_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:28px;
  width:146px;
  word-wrap:break-word;
}
#u39_ref {
  border-width:0px;
  position:absolute;
  left:734px;
  top:125px;
  width:1px;
  height:1px;
}
#u40_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:130px;
  height:80px;
}
#u40 {
  border-width:0px;
  position:absolute;
  left:892px;
  top:55px;
  width:130px;
  height:80px;
  font-family:'微軟正黑體';
  font-weight:400;
  font-style:normal;
  font-size:20px;
}
#u40_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:28px;
  width:126px;
  word-wrap:break-word;
}
#u40_ref {
  border-width:0px;
  position:absolute;
  left:1014px;
  top:125px;
  width:1px;
  height:1px;
}
#u41_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:149px;
  height:80px;
}
#u41 {
  border-width:0px;
  position:absolute;
  left:752px;
  top:55px;
  width:149px;
  height:80px;
  font-family:'微軟正黑體';
  font-weight:400;
  font-style:normal;
  font-size:20px;
}
#u41_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:28px;
  width:145px;
  word-wrap:break-word;
}
#u41_ref {
  border-width:0px;
  position:absolute;
  left:893px;
  top:125px;
  width:1px;
  height:1px;
}
#u42_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1020px;
  height:170px;
}
#u42 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:950px;
  width:1020px;
  height:170px;
}
#u42_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
