body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1022px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u124_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1022px;
  height:1184px;
}
#u124 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:150px;
  width:1022px;
  height:1184px;
}
#u124_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u125 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u126_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:80px;
}
#u126 {
  border-width:0px;
  position:absolute;
  left:302px;
  top:55px;
  width:150px;
  height:80px;
  font-family:'微軟正黑體';
  font-weight:400;
  font-style:normal;
  font-size:20px;
}
#u126_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:28px;
  width:146px;
  word-wrap:break-word;
}
#u126_ref {
  border-width:0px;
  position:absolute;
  left:444px;
  top:125px;
  width:1px;
  height:1px;
}
#u127 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u128_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  height:120px;
}
#u128 {
  border-width:0px;
  position:absolute;
  left:22px;
  top:30px;
  width:121px;
  height:120px;
}
#u128_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u129_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:133px;
  height:72px;
}
#u129 {
  border-width:0px;
  position:absolute;
  left:139px;
  top:54px;
  width:133px;
  height:72px;
}
#u129_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u130_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:80px;
}
#u130 {
  border-width:0px;
  position:absolute;
  left:442px;
  top:55px;
  width:150px;
  height:80px;
  font-family:'微軟正黑體';
  font-weight:400;
  font-style:normal;
  font-size:20px;
}
#u130_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:28px;
  width:146px;
  word-wrap:break-word;
}
#u130_ref {
  border-width:0px;
  position:absolute;
  left:584px;
  top:125px;
  width:1px;
  height:1px;
}
#u131_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:80px;
}
#u131 {
  border-width:0px;
  position:absolute;
  left:592px;
  top:55px;
  width:150px;
  height:80px;
  font-family:'微軟正黑體';
  font-weight:400;
  font-style:normal;
  font-size:20px;
}
#u131_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:28px;
  width:146px;
  word-wrap:break-word;
}
#u131_ref {
  border-width:0px;
  position:absolute;
  left:734px;
  top:125px;
  width:1px;
  height:1px;
}
#u132_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:130px;
  height:80px;
}
#u132 {
  border-width:0px;
  position:absolute;
  left:892px;
  top:55px;
  width:130px;
  height:80px;
  font-family:'微軟正黑體';
  font-weight:400;
  font-style:normal;
  font-size:20px;
}
#u132_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:28px;
  width:126px;
  word-wrap:break-word;
}
#u132_ref {
  border-width:0px;
  position:absolute;
  left:1014px;
  top:125px;
  width:1px;
  height:1px;
}
#u133_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:149px;
  height:80px;
}
#u133 {
  border-width:0px;
  position:absolute;
  left:752px;
  top:55px;
  width:149px;
  height:80px;
  font-family:'微軟正黑體';
  font-weight:400;
  font-style:normal;
  font-size:20px;
}
#u133_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:28px;
  width:145px;
  word-wrap:break-word;
}
#u133_ref {
  border-width:0px;
  position:absolute;
  left:893px;
  top:125px;
  width:1px;
  height:1px;
}
#u134_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1020px;
  height:170px;
}
#u134 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:1300px;
  width:1020px;
  height:170px;
}
#u134_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
